     <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Subir</a></p>
        <p>&copy; 2017 ServoSystem, Tienda CNC la tienda online de partes para CNC. &middot; <a href="/contact">Contacto</a> &middot; </p>
      </footer>

    </div><!-- /.container -->
