// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner-products {
    position: relative;
    width: 50%;
    background-image: url(fondo-curvo.jpg);
    overflow: hidden;
}
